html, * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background: #333;
    font-family: 'Open Sans', sans-serif;
}
.about-section {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
img {
    height: 400px;
    margin-right: 60px;
    z-index: 1000;
}
p {
    color: #999;
    font-size: 18px;
    padding-inline: 20px;
}
h2 {
    font-size: 34px;
    color: #999;
    padding: 20px;
}
.image-container::before {
    content: '';
    z-index: 999;
    right: 900px;
    top: 190px;
    height: 390px;
    width:260px;
    position: absolute;
    border: 5px solid #999;
}
.projects {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.img-1 {
    height: 300px;
    width: 300px;
}
.img-2 {
    height: 300px;
    width: 300px;
}
.img-3 {
    height: 300px;
    width: 300px;
}